<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>iconClaro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>logo-claro.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iconEscuro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>logo-escuro.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>logo-claro</string>
			<key>CFBundleURLName</key>
			<string>leafy</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.547930405749-50bu7vtalbr3q8ujabq9eq2n5q3nhg4k</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>UIApplicationMainStoryboardFile</key>
	<string></string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
